.advantages {
background: $prime-1 url(../img/icons_transparent.png);
padding:50px 0 90px;
   &__link {
      a{
         text-decoration: none;
         font-size: 15px;
         color: #ffffff;
         font-family: $font-medium-main;
  

      }
   margin: 0px 0 25px;
   text-align: center;
   }
   &__title {
      grid-area: title ;
      h2{
         font-weight: 400;
         line-height: 45px;
         margin:40px 0;
         font-size: 33px;
         color: #ffffff;
         text-align: center;
   }
   }
   &__row {
      display:flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      .img1 {
         background: url(../img/advantages_icon1.png)50% no-repeat;
      }
      }
      .img2 {
         background: url(../img/advantages_icon2.png)50% no-repeat;
   }
      
      .img3 {
         background: url(../img/advantages_icon3.png)50% no-repeat;
   }
   &__col1 {
   }
   &__card {
      width: 350px;
   }
   &__img {
      width: 100%;
      background-position: 0 50%;
      height: 90px;
      }
   &__button{
      text-align: center;
      margin-top: 45px;
      .BTN2{
         font-size: 14px;
        font-family: $font-regular-main;
         font-weight: 500;
      }
   }
   }

.card {
   padding: 40px 50px 50px;
   background: #fff;
   box-sizing: border-box;
   text-align: center;
   margin: 15px;
   h5{
       margin: 20px 0;
       font-size: 17px;
      color: #1e2021;
      font-weight: 500;
         }
}

@media (max-width:520px) {
   .advantages {
         &__card {
            width: auto;
            margin: 15px;
         }
}
}

@media (max-width:320px) {
   .advantages {
      &__button{

      .BTN2{
         width: 100%;
      }
   }

}
.card{
   padding: 10px;
}
}