

body{
  width: 1000px;
  margin: 0 auto;
}
  h1{
    font-size: 35px;
    font-family: $font-bold-main;
    color: $d3-p4;   
}

h2 {
    font-size: 33px;
    font-family: $font-medium-main;
    color: $d2-p4;
}
  
h3 {
    font-size: 27px;
    font-family: $font-medium-main;
    color: $d3-p4;
  }

h4 {
    font-size: 22px;
    font-family: $font-medium-main;
    color: $d3-p4;
 }
  

h5 {
    font-size: 17px;
    font-family: $font-medium-main;
    color: $d3-p4;
  }

h6 {
    font-size: 15px;
    font-family: $font-medium-main;
    color: $d3-p4;
  }

p {
    font-size: 14px;
    font-family: $font-regular-main;
    color: $d1-p4;
      }

.subtitle {
    p{
    font-size: 20px;
    font-family: $font-medium-main;
    color: $d1-p4;
  }
}

  h2:hover,
  .subtitle p:hover {
    @include hover;
      padding: 0 15px;
  }
.ul{
  li{
    font-size: 15px;
    font-family: $font-medium-main;
    color: $d1-p4;
    list-style-type: none;
    margin:20px 7px 0 0;
  }
  li:before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(../image/list_icon.png);
    margin-right: 7px;
  }
  li:nth-child(1){
      margin-top: 40px;
  } 
  li:last-child{
    margin-bottom: 40px;
}
}

.quotation{
    box-sizing: border-box;
    background: $l2-p1;
    border-left: 2px solid $prime-1;
    padding: 15px 60px  15px 35px;
        p{
            color: $d1-p1 ;
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: $font-regular-main;
        }
}


.input{
  width: 320px;
  height: 50px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(216, 218, 219);
  border-radius: 3px;
  background-color: rgb(246, 249, 249);
  padding-left: 20px;
  box-sizing: border-box;
}

option{
  min-height: 30px;
  padding: 30px 2px 15px;
  font-size: 13px;
  font-family: "Myriad Pro";
  color: rgb(101, 106, 112);
  line-height: 1.2;    
}

select{
  font-size: 13px;
  font-family: "Myriad Pro";
  color: rgb(101, 106, 112);
  line-height: 1.2;    
}

option:hover{
background: #e6f7fe;
}


input placeholder{
  font-size: 13px;
  font-family: "Myriad Pro";
  color: rgb(101, 106, 112);
  line-height: 1.2;    
}

input[required]{
  border:1px solid $prime-2; 
  color: $prime-2;
  background-color: #fff;
}
input.normal{
  border:1px solid #09a912; 
  color:#09a912;
  background-color: #fff;
}
input:hover, select:hover{
  background-color: #fff; 
}
input, select, option {
  outline:none;
}

.input:focus{
  border:1px solid $prime-1; 
  background-color: #fff; 
}

.input-button{
  position: relative;
  display: flex;
 
}

.normal-input{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 70px;
  top: 60%;
  background: url(../img/normal-input.png) no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.chack{
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border:1px solid #d7d9db;
}

.chack:hover:not(.disabled-chack){
border:  1px solid $prime-1;
}

.activ-chack{
  border:  1px solid $prime-1;
}

.selected-chack{
  background:$prime-1 url(../img/ok-chack.png) no-repeat;
  background-position: center;
  background-size: 50% 50%;
  border:  1px solid $prime-1;
}

.disabled-chack{
  background:#d7d9db url(../img/ok-chack.png) no-repeat;
  background-position: center;
  background-size: 50% 50%;
}

.error-input{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 70px;
  top: 60%;
  background: url(../img/error_input.png) no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.radio{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border:2px solid #d7d9db;
  display: flex;
  justify-content: center;
  align-items: center;
  .radio-in{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $prime-1;
  }
}

.radio-in{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $prime-1;
}

.radio:hover:not(.disabled-radio){
border:  1px solid $prime-1;
}

.activ-radio{
  border:  1px solid $prime-1;
}

.selected-radio{

  background-position: center;
  background-size: 50% 50%;
  border:  1px solid $prime-1;
}

.disabled-radio{
  .radio-in{
    background: #d7d9db;
  }
  background-position: center;
  background-size: 50% 50%;
}

.error-input{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 70px;
  top: 60%;
  background: url(../img/error_input.png) no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.input-plus, .input-minus{
  margin-top: 20px;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(216, 218, 219);
  border-radius: 3px;
  background: #fff;
  position: relative;
  box-sizing: border-box;
  position: absolute;
  box-shadow: inset 2px 0px 0px rgb(216, 218, 219);
  user-select: none;
}

.input-plus:active, .input-minus:active{
  box-shadow: inset 0px 3px 1px rgb(216, 218, 219);
  cursor: pointer;
}

.input-plus:hover, .input-minus:hover{
  cursor: pointer;
}

.input-minus{
  transform: rotate(180deg);
}

.input-plus{
  right: 50px;
}
.div:hover label span{
  @include hover; 
  
}

input, label{
  display: block;
}

label{
  margin-bottom: 20px;
   span{
    display: inline;
  }
}

.__select__content{
  label{
    margin-bottom: 0px;
  }
}

.tabs{

  ul{
    margin: 0;
    padding: 0;
    height: 40px;
    display: flex;
    width: 671px;
    border-bottom: 2px solid #f0f0f1;
    box-sizing: border-box;
  li{
    list-style-type: none;
    margin: 0px 20px;
    line-height: 40px;
    font-size: 14px;
    color: #a3a6a9;
    font-weight: 400;
    font-family: "Poppins";
    text-transform: capitalize;
    height: 38px;
    
  }
  li:hover{
    color: #f75e2e;
    border-bottom: 2px solid #f75e2e;
  }
  .activ{
    color: #f75e2e;
    border-bottom: 2px solid #f75e2e;
  }
  
}

}

.pagination{
ul{
  display: flex;
  div{
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    color: #a3a6a9;
    font-weight: 500;
    font-family: "Poppins";
    height: 20px;
   width: 20px;
    border-radius: 50%;
    
    text-align: center;
    padding:5px;
  }
  li{
   list-style-type: none;
  }
  .activ{
    background: $prime-1;
    color: #fff;
  }
  div:hover{
    background: $prime-1;
    color: #fff;
  }
}
.arrow-left{
  margin-right: 40px;
  user-select: none;
}
.arrow-right{
  margin-left: 40px;
  user-select: none;
}
}

.doted-pagination{
  margin: 50px ;
  display: flex;
  div{
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #a3a5a9;
  margin: 5px;
  box-sizing: border-box;
  }
 .activ, div:hover{
    background: none;
    border: 2px solid $prime-1;
  }
}


.social-grey,.social-color  {
  display: flex;
  width: 200px;
  justify-content: space-between;

.div {

}
.fc {
  @include social-icon;
  background: url(../img/fb_grey.png)no-repeat;
}
.twitter {
  @include social-icon;
  background: url(../img/free-icon-twitter-gray.png) no-repeat;
}
.pinterest {
  @include social-icon;
  background: url(../img/pinterest_grey.png) no-repeat;
}
.google {
  @include social-icon;
  background: url(../img/google_plus_grey.png) no-repeat;
 width: 38px;
}
}

.social-color {
  margin-top: 50px;
  .fc {
    @include social-icon;
    background: url(../img/fb_blue.png)no-repeat;
  }
  .twitter {
    @include social-icon;
    background: url(../img/free-icon-twitter-blue.png) no-repeat;
  }
  .pinterest {
    @include social-icon;
    background: url(../img/pinterest_red.png) no-repeat;
  }
  .google {
    @include social-icon;
    background: url(../img/google_plus_red.png) no-repeat;
   width: 38px;
  }
}

.social-blue {
  width: 300px;
 margin-top: 50px;
  background: $prime-1;
  padding: 20px;
  .social{
    display: flex;
    justify-content: space-between;
    margin: 33px 20px;

.fc {
  @include social-icon;
  background: url(../img/fb_white.png)no-repeat;
}
.twitter {
  @include social-icon;
  background: url(../img/free-icon-twitter-white.png) no-repeat;
}
.pinterest {
  @include social-icon;
  background: url(../img/pinterest_white.png) no-repeat;
}
.google {
  @include social-icon;
  background: url(../img/google_plus_white.png) no-repeat;
 width: 38px;
 background-size: 105% 105%;
}
.div-sirkl{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-blue{
  height: 50px;
  width: 50px;
  border-radius: 50%;
 background: $d1-p1;
  display: flex;
  justify-content: center;
  align-items: center;
}
}
}

.popup{
  font-size: 13px;
  line-height: 20px;
  color: #51555a;
  font-weight: 300;
  font-family: "Poppins";
  width: 300px;
  padding: 25px;
  border: 1px solid #d7d9db;
  p{
    padding: 0;
    margin: 0;
  }
  margin-bottom: 50px;
}