h1{
    font-size: 35px;
    font-family: $font-bold-main;
    color: $d3-p4;   
}

h2 {
    font-size: 33px;
    font-family: $font-medium-main;
    color: $d2-p4;
}
  
h3 {
    font-size: 27px;
    font-family: $font-medium-main;
    color: $d3-p4;
  }

h4 {
    font-size: 22px;
    font-family: $font-medium-main;
    color: $d3-p4;
 }
  

h5 {
    font-size: 17px;
    font-family: $font-medium-main;
    color: $d3-p4;
  }

h6 {
    font-size: 15px;
    font-family: $font-medium-main;
    color: $d3-p4;
  }

p {
    font-size: 14px;
    font-family: $font-regular-main;
    color: $d1-p4;
      }

.subtitle {
    p{
    font-size: 20px;
    font-family: $font-medium-main;
    color: $d1-p4;
  }
}

  h2:hover,
  .subtitle p:hover {
    @include hover;
      padding: 0 15px;
  }
.ul{
  li{
    font-size: 15px;
    font-family: $font-medium-main;
    color: $d1-p4;
    list-style-type: none;
    margin:20px 7px 0 0;
  }
  li:before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(../image/list_icon.png);
    margin-right: 7px;
  }
  li:nth-child(1){
      margin-top: 40px;
  } 
  li:last-child{
    margin-bottom: 40px;
}
}

.quotation{
    box-sizing: border-box;
    background: $l2-p1;
    border-left: 2px solid $prime-1;
    padding: 15px 60px  15px 35px;
        p{
            color: $d1-p1 ;
            margin: 0;
            padding: 0;
            font-size: 17px;
            font-family: $font-regular-main;
        }
}


.input{
  width: 320px;
  height: 50px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(216, 218, 219);
  border-radius: 3px;
  background-color: rgb(246, 249, 249);
  padding-left: 20px;
  box-sizing: border-box;
}

option{
  min-height: 30px;
  padding: 30px 2px 15px;
}

option:hover{
background: #e6f7fe;
}


input placeholder{
  font-size: 13px;
  font-family: "Myriad Pro";
  color: rgb(101, 106, 112);
  line-height: 1.2;    
}

input:hover, select:hover{
  background-color: #fff; 
}
input, select, option {
  outline:none;
}

.input:focus{
  border:1px solid $prime-1; 
  background-color: #fff; 
}

.input-button{
  position: relative;
  display: flex;
 
}

.input-plus, .input-minus{
  margin-top: 20px;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(216, 218, 219);
  border-radius: 3px;
  background: #fff;
  position: relative;
  box-sizing: border-box;
  position: absolute;
  box-shadow: inset 2px 0px 0px rgb(216, 218, 219);
  user-select: none;
}

.input-plus:active, .input-minus:active{
  box-shadow: inset 0px 3px 1px rgb(216, 218, 219);
  cursor: pointer;
}

.input-plus:hover, .input-minus:hover{
  cursor: pointer;
}

.input-minus{
  transform: rotate(180deg);
}

.input-plus{
  right: 50px;
}
.div:hover label span{
  @include hover; 
  
}

input, label{
  display: block;
}

label{
  margin-bottom: 20px;
   span{
    display: inline;
  }
}

.__select__content{
  label{
    margin-bottom: 0px;
  }
}

.tabs{

  ul{
    margin: 0;
    padding: 0;
    height: 40px;
    display: flex;
    width: 671px;
    border-bottom: 2px solid #f0f0f1;
    box-sizing: border-box;
  li{
    list-style-type: none;
    margin: 0px 20px;
    line-height: 40px;
    font-size: 14px;
    color: #a3a6a9;
    font-weight: 400;
    font-family: "Poppins";
    text-transform: capitalize;
    height: 38px;
    
  }
  li:hover{
    color: #f75e2e;
    border-bottom: 2px solid #f75e2e;
  }
}

}

.pagination{
ul{
  display: flex;
  div{
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    color: #a3a6a9;
    font-weight: 500;
    font-family: "Poppins";
    height: 20px;
   width: 20px;
    border-radius: 50%;
    
    text-align: center;
    padding:5px;
  }
  li{
   list-style-type: none;
  }
  .activ{
    background: $prime-1;
    color: #fff;
  }
  div:hover{
    @include activ;
  }
}
.arrow-left{
  margin-right: 40px;
  user-select: none;
}
.arrow-right{
  margin-left: 40px;
  user-select: none;
}
}

.doted-pagination{
  margin: 50px ;
  display: flex;
  div{
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #a3a5a9;
  margin: 5px;
  box-sizing: border-box;
  }
 .activ, div:hover{
    background: none;
    border: 2px solid $prime-1;
  }
}
