*{
    padding: 0;
    margin: 0;
}



.grid {
    margin: 0 auto;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 100px;
    gap: 40px;
    div{
        border-radius:50%;
            }
}

.pr-1-ligten-1 {
    background: mix(#fff, $prime-1, 40%);
}
.pr-1-ligten-2 {
    background: mix(#fff, $prime-1, 75%);
}
.pr-1-ligten-3 {
    background: mix(#fff, $prime-1, 90%);
}


.pr-2-ligten-1 {
    background: mix(#fff, $prime-2, 40%);
}
.pr-2-ligten-2 {
    background: mix(#fff, $prime-2, 75%);
}
.pr-2-ligten-3 {
    background: mix(#fff, $prime-2, 90%);
}

.pr-3-ligten-1 {
    background: mix(#fff, $prime-3, 40%);
}
.pr-3-ligten-2 {
    background: mix(#fff, $prime-3, 75%);
}
.pr-3-ligten-3 {
    background: mix(#fff, $prime-3, 90%);
}

.pr-4-ligten-1 {
    background: mix(#fff, $prime-4, 40%);
}
.pr-4-ligten-2 {
    background: mix(#fff, $prime-4, 75%);
}
.pr-4-ligten-3 {
    background: mix(#fff, $prime-4, 90%);
}

.prime-1 {
    background:  $prime-1;
}
.prime-2 {
    background: $prime-2;
}
.prime-3 {
    background: $prime-3;
}
.prime-4 {
    background: $prime-4;
}

.pr-1-darken-1 {
    background: mix(#000, $prime-1, 20%);
}
.pr-2-darken-1 {
    background: mix(#000, $prime-2, 20%);
}
.pr-3-darken-1 {
    background: mix(#000, $prime-3, 20%);
}
.pr-4-darken-1 {
    background: mix(#000, $prime-4, 20%);
}

.pr-1-darken-2 {
    background: mix(#000, $prime-1, 50%);
}
.pr-2-darken-2 {
    background: mix(#000, $prime-2, 50%);
}
.pr-3-darken-2 {
    background: mix(#000, $prime-3, 50%);
}
.pr-4-darken-2 {
    background: mix(#000, $prime-4, 50%);
}

.pr-1-darken-3 {
    background: mix(#000, $prime-1, 70%);
}
.pr-2-darken-3 {
    background: mix(#000, $prime-2, 70%);
}
.pr-3-darken-3 {
    background: mix(#000, $prime-3, 70%);
}
.pr-4-darken-3 {
    background: mix(#000, $prime-4, 70%);
}


.buttons-grid1 {
    margin-top: 70px;
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: 220px 280px repeat(3, 220px);
    row-gap: 23px;
    column-gap: 30px ;
}

.buttons-grid2 {
    margin-top: 70px;
    width: 900px;
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns:repeat(5, 1fr);
    row-gap: 23px;
    column-gap: 30px ;
}

button{
    border: none;
    border-radius: 5px;
    font-weight: bold;
    width: 200px;
}

button:disabled{
background: #D8DADB;
border:none;
color: #fff ; 
}

.BTN1 {
    @include btn(220px, 50px,  #fff, $prime-2, $prime-2);
}
.BTN2 {
    @include btn(280px, 50px,  #fff, $prime-1, $prime-1);
}
.BTN3 {
    @include btn(200px, 50px, #fff, $prime-1, $prime-1);
}
.BTN4 {
    @include btn(200px, 50px, $prime-2, $prime-2, #fff);
}
.BTN5 {
    @include btn(200px, 50px, $prime-1, $prime-1, #fff);
}
button:hover:not(button:disabled) {
    opacity: 0.6;
}
.buttons-grid2 {
}
.button1 {
    @include btn(150px, 40px,  #fff, $prime-2, $prime-2);
}
.button2 {
    @include btn(170px, 40px,  #fff, $prime-1, $prime-1);
}
.button3 {
    @include btn(150px, 40px, #fff, $d1-p1, $d1-p1);
}
.button4 {
    @include btn(150px, 40px, $prime-2, $prime-2, #fff);
}
.button5 {
    @include btn(150px, 40px, $prime-1, $prime-1, #fff);
}

.form__grid {
    margin: 50px 0;
    width: 1500px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    grid-template-areas: 
    "inputs1 inputs2 inputs3 inputs4"
    "inputs5 inputs6 inputs7 ."
    "inputs8 inputs9 . ." ;
}




.inputs1{
    grid-area: inputs1;
}
.inputs2{
    grid-area: inputs2;
}
.inputs3{
    grid-area: inputs3;
}
.inputs4{
    grid-area: inputs4;

 }

 .inputs4 [placeholder]{
    text-align: center;
 }


.inputs5{
    grid-area: inputs5;
}
.inputs6{
    grid-area: inputs6;
}
.inputs7{
    grid-area: inputs7;
}
.inputs8{
    grid-area: inputs8;
    position: relative;
}
.inputs9{
    grid-area: inputs9;
    position: relative;
}

.chackbox{
    display: flex;

}

.chackbox>div{

        margin: 30px;
        text-align: center;

}