.footer{
   background: $prime-1;
	
		&__grid {
			display: grid;
			width: 100%;
			grid-template-rows: 100px;
			grid-template-columns:40.2% repeat(6, auto) auto;
			grid-template-areas:
			"logotip servises about hit telefon signin order burger" ;
         a{
         font-size: 12px;
			text-transform: uppercase;
			color: #ffffff;
			font-family: $font-semibold-main;
         text-decoration: none;
         }
		}
		&__logotip {
			grid-area: logotip;
			display: flex;
			align-items: center;
			height: 100px;
		}
		&__logo-image {
			width: 65px;
			height: 65px;
			background: url(../img/icon-logo.png) no-repeat;
			background-size: contain;
		}
		&__title-site{
			margin-left: 5px;
			}
		&__title{ 
			margin-top: 20px;
			p{
			font-size: 39px;
			color: #ffffff;
			font-family: "Gabriola";
			line-height: 15px;
		}
		&_yellow {
			color: $prime-3;
			font-family: $font-semibold-main;
			font-size: 20px;
			text-transform: uppercase;
		}
		&_litle {
			font-size: 10px;
			font-family: $font-regular-main;
		}
	}
		&__subtitle {
			p{
				font-size: 13px;
				letter-spacing: 0px;
				line-height: 30px;
				color: #ffffff;
				font-weight: 400;
				font-family: $font-regular-two;
				line-height: 16px;
			}
		}
		&__servises{
			grid-area: servises;
		}
      &__servises,&__about-us,&__hiw,&__telefon,&__buttons, .button-grid-signin, .button-grid-order, &__burger{
			display: flex;
         align-items: center;      
      }
     &__servises,&__about-us,&__hiw,&__telefon,&__buttons, .button-grid-signin, .button-grid-order {
         margin:0 30px 0 0;
		}
		&__about-us {
			grid-area: about;
		}
		&__hiw {
			grid-area: hit;
		}
		&__telefon{
			grid-area: telefon;
		}

		.button-grid-signin {
			grid-area: signin;
		}
		.button-grid-order {
			grid-area: order;
		}
      &__burger{
         grid-area: burger;
      }
		}


@media (max-width:1170px) {

	.footer{

		&__grid{
			display: grid;
			width: 100%;
			grid-template-rows: 70px 70px;
			grid-template-columns:2fr 0.7fr 0.7fr 0.7fr 0.7fr;
			grid-template-areas:
			"logotip  signin order burger hit"
			"logotip servises about  telefon hit" ;

		}
		&__logotip {
			height: 100%;
		}
      &__servises,&__about-us,&__hiw,&__telefon,&__buttons, .button-grid-signin, .button-grid-order {
         margin:0 0;
		}
	}
}

@media (max-width:750px) {
	.footer{
		padding-top: 20px;
		&__grid{
         margin-right: 20px;
         grid-auto-rows: 40px;
			grid-template-columns:repeat(5, 1fr);
			grid-template-areas:
        
			"logotip logotip logotip order signin"
			"telefon servises about hit  burger";
		}
      &__servises,&__about-us,&__hiw,&__telefon,&__buttons, .button-grid-signin, .button-grid-order, &__burger{
		justify-content: center;     
      }
	}
}
@media (max-width:520px) {
	.footer{
		&__grid{
         padding-bottom: 20px;
			grid-template-columns:repeat(2, 1fr);
			grid-auto-rows: 40px;
			grid-template-areas:
			"logotip logotip"
			"order signin"
			"servises about"
         "telefon burger"
			"hit hit"
			;
		}
		&__logotip{
			justify-content: center;
		}
		
			}
			.menu__box {
				top: -100%;
				left: 0;
				width: 100%;
			 }
			 #menu__toggle:checked ~ .menu__btn > span{
				top: -290px;
				transform: rotate(45deg);
				right: -40px;
			 }
			#menu__toggle:checked ~ .menu__btn > span::before {
			top: 0;
			transform: rotate(0);
		 }
		 #menu__toggle:checked ~ .menu__btn > span::after {
			top: 0;
			transform: rotate(90deg);
		 }
		 #menu__toggle:checked ~ .menu__box {
			visibility: visible;
			top: 0;
		 }
	}

@media (max-width:300px) {
	.footer{
		&__servises-box{
			position: none;
			width: 100%;
			text-align: center;
		}
		/*&__grid{
			grid-template-columns: 1fr;
			grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas:
			"logotip" 
			"logotip"
			"order"
			"signin"
			"servises"
			"about"
			"hit"
			"telefon"
			"burger";
		}*/
		&__logo-image{
			display: none;
		}
		.menu__btn{
			left: 5px;
		}
		#menu__toggle:checked ~ .menu__btn > span{
			transform: rotate(45deg);
			top: -500px;
			left: 0;
		 }
		 .menu__box{
			width: 100%;
		 }
	}
}

