<footer class="footer">
   <div class="container">
      <section class="footer__section1">
                <div class="footer__grid">
              
                <div class="footer__logotip">
                  
                <div class="footer__logo-image"></div>
                <div class="footer__title-site">
                  <div class="footer__title">
                    <p>Blue<span class="footer__title_yellow">essay</span>site<span class="footer__title_litle">.net</span></p>
                  </div>
                  <div class="footer__subtitle">
                    <p>Providing Custom Writing Services</p>
                  </div>
                </div>
              
              </div>
            
              <div class="footer__servises"> 
                <a href="#">HOME</a>
              </div>
              <div class="footer__about-us">
                <a href="#">About us</a>
              </div>
              <div class="footer__hiw">
                <a href="#">ORDER NOW</a>
              </div>
              <div class="footer__telefon">
               <a href="#">DESCLAIMER</a></div>
              <div class="footer__buttons button-grid-signin">
               <a href="#">WHY US</a>
              </div>
              <div class="footer__buttons button-grid-order">
               <a href="#">CONTACTS</a>
              </div>
                <div class="footer__burger">
                  <a href="#">BLOG</a>
              </div>
      
      
            </div>
      
          
      </section>
      <section class="footer__section2">
         <div class="footer__columns">
            <div class="footer__column-title">
               <h5>Section number1</h5>
            </div>
            <div class="footer__column-text">
               <p>But I must explain to you how 
                  Mistaken idea of denouncing 
                  Praising pain was born
                  Account of the system
                  Great explorer of the truth
                  No one rejects, dislikes
                  Mistaken idea of denouncing 
                  Praising pain was born</p>
            </div>
         </div>
         <div class="footer__columns">
            <div class="footer__column-title">
               <h5>Section number2</h5>
            </div>
            <div class="footer__column-text">
               <p>But I must explain to you how 
                  Mistaken idea of denouncing 
                  Praising pain was born
                  Account of the system
                  Great explorer of the truth
                  No one rejects, dislikes
                  Mistaken idea of denouncing 
                  Praising pain was born</p>
            </div>
         </div>
         <div class="footer__columns">
            <div class="footer__column-title">
               <h5>Section number3</h5>
            </div>
            <div class="footer__column-text">
               <p>But I must explain to you how 
                  Mistaken idea of denouncing 
                  Praising pain was born
                  Account of the system
                  Great explorer of the truth
                  No one rejects, dislikes
                  Mistaken idea of denouncing 
                  Praising pain was born</p>
            </div>
         </div>
         <div class="footer__columns">
            <div class="footer__column-title">
               <h5>Section number4</h5>
            </div>
            <div class="footer__column-text">
               <p>But I must explain to you how 
                  Mistaken idea of denouncing 
                  Praising pain was born
                  Account of the system
                  Great explorer of the truth
                  No one rejects, dislikes
                  Mistaken idea of denouncing 
                  Praising pain was born</p>
            </div>
         </div>
      </section>
      <section class="footer__section3">
         <div class="footer__section3-columns">
            <div class="footer__section3-text"><p>Copyright В© 2017 BlueEssaySite.net <br> 
               All rights reserved.</p>
            </div>
         </div>
         <div class="footer__section3-columns">
            <div class="social">
               <div class="div-sirkl">
                 <a href="#"><div class="fc"></div></a>
               </div>
               <div class="div-sirkl">
                 <a href="#"><div class="twitter"></div></a>
               </div>
               <div class="div-sirkl">
                 <a href="#"><div class="pinterest"></div></a>
               </div>
               <div class="div-sirkl">
                 <a href="#"><div class="google"></div></a>
               </div>
             </div>
         </div>
         <div class="footer__section3-columns">
            <div class="div-sirkl img-tel"></div>
            <div class="footer__section3-telephon">
               <div class="footer__section3-text"> <p>
                  Toll free: <br>
                  <span>+ 3 044 111 2732</span>
               </p>
               </div>
            </div>
         </div>
         <div class="footer__section3-columns">
            <div class="div-sirkl img-email"></div>
            <div class="footer__section3-telephon">
               <div class="footer__section3-text"><p>
                  email: <br>
                  blueessaysite@gmail.com
               </p>
            </div>
            </div>
         </div>
         
      </section>
   </div>
   
</footer>