<header>
   <div class="navigation-fon-blue">
      <div class="container">
        <div class="navigation">
          <div class="navigation__grid">
            
              <div class="navigation__logotip">
                
              <div class="navigation__logo-image"></div>
              <div class="navigation__title-site">
                <div class="navigation__title">
                  <p>Blue<span class="navigation__title_yellow">essay</span>site<span class="navigation__title_litle">.net</span></p>
                </div>
                <div class="navigation__subtitle">
                  <p>Providing Custom Writing Services</p>
                </div>
              </div>
            
            </div>
          
            <div class="navigation__servises"> 
              <a href="#">servises</a>
              <div class="navigation__servises-box">
                <ul>
                  <li><a href="#">Lorem, ipsum.</a></li>
                  <li><a href="#">Veritatis, dolorem.</a></li>
                  <li><a href="#">Non, tenetur.</a></li>
                </ul>
              </div>
            </div>
            <div class="navigation__about-us">
              <a href="#">About us</a>
              <div class="navigation__about-box">
                <ul>
                  <li><a href="#">Lorem, ipsum.</a></li>
                  <li><a href="#">Veritatis, dolorem.</a></li>
                  <li><a href="#">Non, tenetur.</a></li>
                </ul>
              </div>
            </div>
            <div class="navigation__hiw">
              <a href="#">how it works</a>
            </div>
            <div class="navigation__telefon"><a href="#"><div class="navigation__imagt-telefon">
            </div></a></div>
            <div class="navigation__buttons button-grid-signin"><button class="navigation__button button3">SIGN IN</button></div>
            <div class="navigation__buttons button-grid-order"><button class="navigation__button button1">ORDER</button>
            </div>
              <div class="navigation__burger">
    
              <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox">
                <label class="menu__btn" for="menu__toggle">
                  <span></span>
                </label>
                <ul class="menu__box">
                    <li class="list"><a href="home.html" class="menu__item">home</a></li>
                    <li class="list"><a href="about.html" class="menu__item">about us</a></li>
                    <li class="list"><a href="prices.html" class="menu__item">prices</a></li>
                    <li class="list"><a href="discount.html" class="menu__item">discount</a></li>
                    <li class="list"><a href="guaranties.html" class="menu__item">guaranties</a></li>
                    <li class="list"><a href="faq.html" class="menu__item">faq</a></li>
                    <li class="list"><a href="beware.html" class="menu__item">beware</a></li>
                    <li class="list"><a href="contact.html" class="menu__item">contact us</a></li>
                    <li class="list"><a href="blog.html" class="menu__item">blog</a></li>
                </ul>
             </div>
            </div>
    
    
          </div>
    
        </div>
      </div>
    
    </div>
    
</header>