{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}


{% block content %}
<section class="town">
   <div class="container">
      <div class="prostodiv">
      <div class="town__grid">
         <div class="town__title-col">
           <div class="town__title">
            <h1>
               <span class="blue">BlueEssaySite.net -</span><br>
                  expert help for custom Written
            </h1>
            <div class="tabs">
               <ul>
                 <li class="activ"></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>

               </ul>
             </div>
           </div> 
           <div class="town__text">
            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</p>
           </div>
           <div class="town__buttons-row">
            
            <div class="town__button">
               <button class="BTN1">Place an order</button>
            </div>
           </div>
         </div>
         <div class="town__girlimage-col">
            <div class="town__image"></div>
         </div> 
      </div>

   <div class="town__form">
      <div class="town__form-input">
         <div class="div inputs6">
            <label for="placeholder_text6"><span>Type of paper</span></label>
            <select class="input" name="placeholder_text5">
              <option class="option" value="">placeholder_text</option>
              <option value="1">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
            </select>
          </div>
      </div>
      <div class="town__form-input">
         <div class="div inputs6">
            <label for="placeholder_text6"><span>Writer level </span></label>
            <select class="input" name="placeholder_text5">
              <option class="option" value="">High school</option>
              <option value="1">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
            </select>
          </div>
      </div>
      <div class="town__form-input">
         <div class="div inputs6">
            <label for="placeholder_text6"><span>Urgency </span></label>
            <select class="input" name="placeholder_text5">
              <option class="option" value="">21 days</option>
              <option value="1">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
            </select>
          </div>
      </div>
      <div class="town__form-input">    
         <div class="div inputs4">
            <label for="placeholder_text4"><span>Nunber of pages</span> </label>
            <div class="input-button">
              <span class="input-minus">-</span>
              <input class="input" placeholder="2" id="inputs4" type="text" name="placeholder_text4" >
              <span class="input-plus">+</span>
          </div>
        </div>
      </div>
      <div class="town__form-input">
         <button class="BTN3">Continue</button>
      </div>
   </div>
   </div> 
</div> 
</section>
<section class="welcome">
   <div class="container">
       <div class="welcome__row">
         <div class="welcome__col1-image"></div>
        
            
            <div class="welcome__title">
               <div class="welcome__link">
                  <a href="#">01  Welcome to Sitename</a>
               </div>
               <h2>Do you need essay help from a good writing service?</h2>
            </div>
            <div class="welcome__text">
               <p>If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service. </p>
               <p>Our essay and research paper writing services are provided by a large team of editing, writing and research specialists who can help you with all types of coursework, whether you have essays, term papers, research papers, theses or dissertations to complete. Our essay writers are able to help you with all subject matters for all education levels, no matter if you are a high school student or studying for a PhD or Master's degree</p>
            </div>
         
       </div>
   </div>
</section>
<section class="advantages">
   <div class="container">
      <div class="advantages__link">
         <a href="#">02  Our advantages</a>
      </div> 
      <div class="advantages__title">
         <h2>Advantages of Our Writing Services</h2>
      </div>
      <div class="advantages__row">
         <div class="advantages__col1">
            <div class="advantages__card card">
               <div class="advantages__img img1"></div>
               <div class="advantages__card-title">
               <h5>Professionally-qualified 
                  writing experts</h5>
               </div>
               <div class="advantages__text">
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
               </div>
            </div>
         </div>
         <div class="advantages__col1">
            <div class="advantages__card card">
               <div class="advantages__img img2"></div>
               <div class="advantages__card-title">
               <h5>Commitment to deliver papers by deadline</h5>
               </div>
               <div class="advantages__text">
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
               </div>
            </div>
         </div>
         <div class="advantages__col1">
            <div class="advantages__card card">
               <div class="advantages__img img3"></div>
               <div class="advantages__card-title">
               <h5>Top-quality, at a great price - guaranteed</h5>
               </div>
               <div class="advantages__text">
                  <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
               </div>
            </div>
         </div>
      </div>
      <div class="advantages__button">
         <button class="BTN2">Place an order</button>
      </div>
   </div>
</section>
<section class="hit">
   <div class="container">
      <div class="hit__link">
         <a href="#">02  How it works</a>
      </div> 
      <div class="hit__title">
         <h2>Our Simple 4-Step Procedure</h2>
      </div>
      <div class="hit__row">
         <div class="hit__col1">
            <div class="hit__card card">
               <div class="hit__img img1"></div>
               <div class="hit__card-title">
               <h5>Step 1</h5>
               </div>
               <div class="hit__text">
                  <p>Complete the short order form to buy a paper from our easy essay writing service.</p>
               </div>
            </div>
         </div>
         <div class="hit__col1">
            <div class="hit__card card">
               <div class="hit__img img2"></div>
               <div class="hit__card-title">
               <h5>Step 2</h5>
               </div>
               <div class="hit__text">
                  <p>We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.</p>
               </div>
            </div>
         </div>
         <div class="hit__col1">
            <div class="hit__card card">
               <div class="hit__img img3"></div>
               <div class="hit__card-title">
               <h5>Step 3</h5>
               </div>
               <div class="hit__text">
                  <p>We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.</p>
               </div>
            </div>
         </div>
         <div class="hit__col1">
            <div class="hit__card card">
               <div class="hit__img img4"></div>
               <div class="hit__card-title">
               <h5>Step 4</h5>
               </div>
               <div class="hit__text">
                  <p>The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.</p>
               </div>
            </div>
         </div>
      </div>
      
   </div>
</section>
<section class="discount">
   <div class="discount__bg">
      <div class="discount__bg-cloud">
         <div class="container">
         <div class="discount__link">
            <a href="#">04  Discount</a>
         </div> 
         <div class="discount__title">
            <h2>Our discount program</h2>
         </div>
         <div class="discount__text">
            <p>By utilizing elements and principles of Material Design, we were able to create a framework that incorporates</p>
         </div>
      </div>
      </div>
      <div class="container">
         <div class="discount__discount">
         <div class="discount__row">
            <div class="discount__col1">
               <div class="discount__col1-columns">
               <div class="discount__card">
                  <div class="discount__off">
                     <p>4%</p>
                     <p>OFF</p>
                  </div>
                  <div class="discount__col1-text">
                     <p>for more than</p>
                     <p><span>15 pages</span></p>
                  </div>
               </div>
               <div class="discount__card">
                  <div class="discount__off">
                     <p>5%</p>
                     <p>OFF</p>
                  </div>

               
              
                  <div class="discount__col1-text">
                     <p>for more than</p>
                     <p><span>20 pages</span></p>
                  </div>
               </div>
            </div>
            <div class="discount__col1-columns">
               <div class="discount__card">
                 
                  <div class="discount__off">
                     <p>10%</p>
                     <p>OFF</p>
                  </div>
                  <div class="discount__col1-text">
                     <p>for more than</p>
                     <p><span>50 pages</span></p>
                  </div>
               </div>
               <div class="discount__card">
                  <div class="discount__off">
                     <p>15%</p>
                     <p>OFF</p>
                  </div>
                  <div class="discount__col1-text">
                     <p>for morew than</p>
                     <p><span>100 pages</span></p>
                  </div>
               </div>
            </div>
         </div>
            <div class="discount__col2">
               <div class="discount__stroka">
                  <div class="discount__stroka-flex">
                     <div class="discount__column-title">
                        <h2>Try our service & get huge discounts</h2>
                     </div>
                     <div class="discount__column-img">
                        <a href="#">
                           <img src="/assets/img/discount_img_star.png" alt="">
                        </a>
                     </div>
                     <div class="discount__column-text">
                        <p>Use <span>discount15</span> as discount code</p>
                     </div>
                     <div class="discount__ballon">
                        <img src="../assets/img/Balloon.png" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
<section class="review">
   <div class="container">
      <div class="review__link">
         <a href="#">02  How it works</a>
      </div> 
      <div class="review__title">
         <h2>Our Simple 4-Step Procedure</h2>
      </div>
      <div class="review__row">
         <div class="review__col1">
            
         </div>
         <div class="review__col2">
            <div class="review__review">
               <div class="review__foto"></div>
                  <div class="review__text">
                     <p>Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.</p>
                  </div>
                  <div class="review__name">
                     <p>Lorna Grey</p>
                  </div>
                  <div class="review__date">
                     <p>20 apr 2023 at 8:23</p>
                  </div>
            </div>
         </div>
         <div class="review__col3">
            
         </div>
      </div>
   </div>
</section>
{% endblock %}