{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.scss">
    <title>Vite App</title>
  </head>
  <body>
    <div class="grid">

      <div class="pr-1-ligten-3"></div>
      <div class="pr-2-ligten-3"></div>
      <div class="pr-3-ligten-3"></div>
      <div class="pr-4-ligten-3"></div>

      <div class="pr-1-ligten-2"></div>
      <div class="pr-2-ligten-2"></div>
      <div class="pr-3-ligten-2"></div>
      <div class="pr-4-ligten-2"></div>

      <div class="pr-1-ligten-1"></div>
      <div class="pr-2-ligten-1"></div>
      <div class="pr-3-ligten-1"></div>
      <div class="pr-4-ligten-1"></div>

      <div class="prime-1"></div>
      <div class="prime-2"></div>
      <div class="prime-3"></div>
      <div class="prime-4"></div>

      <div class="pr-1-darken-1"></div>
      <div class="pr-2-darken-1"></div>
      <div class="pr-3-darken-1"></div>
      <div class="pr-4-darken-1"></div>

      <div class="pr-1-darken-2"></div>
      <div class="pr-2-darken-2"></div>
      <div class="pr-3-darken-2"></div>
      <div class="pr-4-darken-2"></div>

      <div class="pr-1-darken-3"></div>
      <div class="pr-2-darken-3"></div>
      <div class="pr-3-darken-3"></div>
      <div class="pr-4-darken-3"></div>
    </div>
    <br>
    <br>
    <br>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <h2>Lorem, ipsum dolor sit amet.</h2>
    <h3>Lorem, ipsum dolor sit amet.</h3>
    <h4>Lorem, ipsum dolor sit amet.</h4>
    <h5>Lorem, ipsum dolor sit amet.</h5>
    <h6>Lorem, ipsum dolor sit amet.</h6>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id tempora veritatis, sunt non sint iure cupiditate distinctio eius ab. Id, saepe beatae? Laudantium fugit laboriosam voluptate veritatis quia laborum, recusandae inventore facere impedit odio at sit illo dignissimos blanditiis! Quaerat sequi aspernatur voluptatibus tempora alias blanditiis illum excepturi quis facilis?</p>
    <p>Ad obcaecati ullam aliquam delectus inventore animi illum quod tempora minus eligendi, suscipit nobis error perferendis expedita reprehenderit repudiandae quibusdam cum quasi blanditiis sequi a magnam veniam praesentium. Odio facere, iure at quisquam quibusdam dignissimos, quia dolore reiciendis reprehenderit consequuntur repellat omnis, fugit nulla libero eaque. Vel dolorum quod quos.</p>
    <div class="subtitle">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id tempora veritatis, sunt non sint iure cupiditate distinctio eius ab. Id, saepe beatae? Laudantium fugit laboriosam voluptate veritatis quia laborum, recusandae inventore facere impedit odio at sit illo dignissimos blanditiis! Quaerat sequi aspernatur voluptatibus tempora alias blanditiis illum excepturi quis facilis?</p>
      <p>Ad obcaecati ullam aliquam delectus inventore animi illum quod tempora minus eligendi, suscipit nobis error perferendis expedita reprehenderit repudiandae quibusdam cum quasi blanditiis sequi a magnam veniam praesentium. Odio facere, iure at quisquam quibusdam dignissimos, quia dolore reiciendis reprehenderit consequuntur repellat omnis, fugit nulla libero eaque. Vel dolorum quod quos.</p>
    </div>

    <ul class="ul">
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda provident quas hic ea vel dolorem?</lI>
      <lI>Perferendis repudiandae consectetur reiciendis est dignissimos ratione quod nulla voluptatum dolorem, dolores soluta sit velit.</LlI>
      <lI>Consequuntur neque laborum quod aperiam, nesciunt consectetur, explicabo vel obcaecati exercitationem ducimus repudiandae accusamus hic!</lI>
      <lI>Eveniet neque ipsa sit quaerat expedita laudantium ab veniam eaque! Unde quam incidunt omnis nam.</lI>
      <lI>Assumenda dicta quasi possimus placeat totam! Dolorum sint corrupti alias praesentium, deserunt atque facilis consectetur.</lI>
    </ul>

    <div class="quotation">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam ratione veniam incidunt sed culpa minima voluptatem harum commodi illo earum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, reiciendis!</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae nulla eligendi sit obcaecati, ex ullam distinctio! Alias, qui ex corporis possimus maiores laborum delectus reprehenderit in autem ducimus sit quae minus minima vero ad architecto ut eveniet? Delectus doloribus porro sapiente modi consequatur laborum obcaecati quam totam doloremque voluptates error ducimus ut, corporis mollitia nesciunt ea laboriosam voluptatem id, maiores exercitationem consectetur minus. Dignissimos impedit quo, laborum similique neque exercitationem, nemo, esse ad officia velit eveniet expedita aperiam corrupti repellat? Error incidunt corporis repellendus nobis? Temporibus sequi natus reiciendis est eaque praesentium doloremque minima, sapiente beatae facere odio nihil suscipit!</p>
    </div>
    <div class="buttons-grid1">
      <button class="BTN1">BTN1</button>
      <button class="BTN2">BTN2</button>
      <button class="BTN3">BTN3</button>
      <button class="BTN4">BTN4</button>
      <button class="BTN5">BTN5</button>
      <button class="button-hover BTN1">BTN1</button>
      <button class="button-hover BTN2">BTN2</button>
      <button class="button-hover BTN3">BTN3</button>
      <button class="button-hover BTN4">BTN4</button>
      <button class="button-hover BTN5">BTN5</button>
      <button disabled class="BTN1">BTN1</button>
      <button disabled class="BTN2">BTN2</button>
      <button disabled class="BTN3">BTN3</button>
      <button disabled class="BTN4">BTN4</button>
      <button disabled  class="BTN5">BTN5</button>
    </div>

    <div class="buttons-grid2">
      <button class="button1">button1</button>
      <button class="button2">button2</button>
      <button class="button3">button3</button>
      <button class="button4">button4</button>
      <button class="button5">button5</button>
      <button class="button-hover button1">button1</button>
      <button class="button-hover button2">button2</button>
      <button class="button-hover button3">button3</button>
      <button class="button-hover button4">button4</button>
      <button class="button-hover button5">button5</button>
      <button disabled class="button1">button1</button>
      <button disabled class="button2">button2</button>
      <button disabled class="button3">button3</button>
      <button disabled class="button4">button4</button>
      <button disabled class="button5">button5</button>
    </div>
    <form>
      <div class="form__grid">
        <div class="div inputs1"><label for="placeholder_text1"><span>Normal</span> </label>
        <input class="input" class="input" placeholder="placeholder text" type="text" name="placeholder_text1"></div>
        <div class="div inputs2">
        <label for="placeholder_text2"><span>Hover</span> </label>
        <input class="input"  placeholder="placeholder text" type="text" name="placeholder_text2"></div>
        <div class="div inputs3">
        <label for="placeholder_text3"><span>Active</span> </label>
        <input class="input"  placeholder="placeholder text" id="test"  type="text" name="placeholder_text3"></div>
       
        <div class="div inputs4">
            <label for="placeholder_text4"><span>Nunber of pages</span> </label>
            <div class="input-button">
              <span class="input-minus">-</span>
              <input class="input" placeholder="2" id="inputs4" type="text" name="placeholder_text4" >
              <span class="input-plus">+</span>
          </div>
        </div>
        
        <!--<div class="div inputs5"><label for="placeholder_text5"><span>Dropdown normal</span></label>
        <input class="input" placeholder="placeholder text"  type="text" name="placeholder_text5"></div>
        <div class="div inputs6"><label for="placeholder_text6"><span>Dropdown hover </span></label>
        <input class="input" placeholder="placeholder text"  type="text" name="placeholder_text6"></div>
        <div class="div inputs7"><label for="placeholder_text7"><span>Dropdown active</span></label>-->
          <div class="div inputs5"><label for="placeholder_text6"><span>Dropdown hover </span></label>
           <form>
            <div class="__select" data-state="">
            <div class="__select__title" data-default="Option 0">Option 0</div>
            <div class="__select__content">
              <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
              <label for="singleSelect0" class="__select__label">Option 0</label>
              <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
              <label for="singleSelect1" class="__select__label">Option 1</label>
              <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" disabled />
              <label for="singleSelect2" class="__select__label">Option 2 (disabled)</label>
              <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
              <label for="singleSelect3" class="__select__label">Option 3</label>
              <input id="singleSelect4" class="__select__input" type="radio" name="singleSelect" />
              <label for="singleSelect4" class="__select__label">Option 4</label>
            </div>
          </div>
        </form>
            </div>
            <div class="div inputs6"><label for="placeholder_text6"><span>Dropdown hover </span></label>
              <form>
                    <div class="__select" data-state="">
                    <div class="__select__title" data-default="Option 0">Option 0</div>
                    <div class="__select__content">
                      <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
                      <label for="singleSelect0" class="__select__label">Option 0</label>
                      <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
                      <label for="singleSelect1" class="__select__label">Option 1</label>
                      <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" disabled />
                      <label for="singleSelect2" class="__select__label">Option 2 (disabled)</label>
                      <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
                      <label for="singleSelect3" class="__select__label">Option 3</label>
                      <input id="singleSelect4" class="__select__input" type="radio" name="singleSelect" />
                      <label for="singleSelect4" class="__select__label">Option 4</label>
                    </div>
                  </div>
                </form>
              </div>

     

            <div class="div inputs7">
              <label for="placeholder_text6"><span>Dropdown hover </span></label>
                <form>
                    <div class="__select" data-state="">
                    <div class="__select__title" data-default="Option 0">Option 0</div>
                    <div class="__select__content">
                      <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
                      <label for="singleSelect0" class="__select__label">Option 0</label>
                      <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
                      <label for="singleSelect1" class="__select__label">Option 1</label>
                      <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" disabled />
                      <label for="singleSelect2" class="__select__label">Option 2 (disabled)</label>
                      <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
                      <label for="singleSelect3" class="__select__label">Option 3</label>
                      <input id="singleSelect4" class="__select__input" type="radio" name="singleSelect" />
                      <label for="singleSelect4" class="__select__label">Option 4</label>
                    </div>
                  </div>
                </form>
              </div>



        
        <div class="div inputs8">
            <label for="placeholder_text8">Normal</label>
            <input class="input" placeholder="placeholder text"  type="text" name="placeholder_text8">
        </div>
        <div class="div inputs9">
            <label for="placeholder_text9">Normal</label>
            <input class="input" placeholder="placeholder text"  type="text" name="placeholder_text9"></div>
        </div>
    </form>
  </div>
  <div class="tabs">
    <ul>
      <li>tabname1</li>
      <li>tabname2</li>
      <li>tabname3</li>
      <li>tabname4</li>
    </ul>
    
  </div>

  <div class="pagination">
    <ul>
      <div class="arrow-left" ><li>&lt;</li></div>
      <div><li>1</li></div>
      <div><li>2</li></div>
      <div class="activ"><li >3</li></div>
      <div><li>4</li></div>
      <div><li>5</li></div>
      <div><li>6</li></div>
      <div><li>7</li></div>
      <div><li>8</li></div>
      <div class="arrow-right"><li>&gt;</li></div>
    </ul>
  </div>

  <div class="doted-pagination">
  
      <div></div>
      <div></div>
      <div class="activ" ></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
   
  </div>

  </body>
</html>

{% endblock %}