{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}


{% block content %}
<section class="town">
   <div class="container">
      <div class="town__grid">
         <div class="town__title-col">
           <div class="town__title">
            <h1>
               <span class="blue">BlueEssaySite.net -</span><br>
                  expert help for custom Written
            </h1>
            <div class="tabs">
               <ul>
                 <li class="activ"></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>

               </ul>
             </div>
           </div> 
           <div class="town__text">
            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</p>
           </div>
           <div class="town__buttons-row">
            <div class="town__button btn1"></div>
           </div>
         </div>
         <div class="town__girlimage-col">
            <div class="town__image"></div>
         </div> 
      </div>
   </div>
   <div class="town__form">
      <div class="town__form-input">
         <div class="div inputs6">
            <label for="placeholder_text6"><span>Type of paper</span></label>
            <select class="input" name="placeholder_text5">
              <option class="option" value="">placeholder_text</option>
              <option value="1">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
            </select>
          </div>
      </div>
      <div class="town__form-input">
         <div class="div inputs6">
            <label for="placeholder_text6"><span>Writer level </span></label>
            <select class="input" name="placeholder_text5">
              <option class="option" value="">High school</option>
              <option value="1">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
            </select>
          </div>
      </div>
      <div class="town__form-input">
         <div class="div inputs6">
            <label for="placeholder_text6"><span>Urgency </span></label>
            <select class="input" name="placeholder_text5">
              <option class="option" value="">21 days</option>
              <option value="1">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
              <option value="2">another option</option>
              <option value="3">another option</option>
            </select>
          </div>
      </div>
      <div class="town__form-input">    
         <div class="div inputs4">
            <label for="placeholder_text4"><span>Nunber of pages</span> </label>
            <div class="input-button">
              <span class="input-minus">-</span>
              <input class="input" placeholder="2" id="inputs4" type="text" name="placeholder_text4" >
              <span class="input-plus">+</span>
          </div>
        </div>
      </div>
      <div class="town__form-input">
         <button class="BTN3">Continue</button>
      </div>
   </div> 
</section>

{% endblock %}